$primaryColor = rgba(225, 11, 25, 1)

.navbar
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  max-height: 4.5em;
  line-height: 5em;
  background-color: $primaryColor;

  display: flex;
  justify-content: flex-start;
  flex-direction: row;


.menu
  z-index: 6;
  order: 0;
  min-width: 6em;
  outline: none;
  border: none;
  border-radius: 0.1em
  margin: 0.25em
  margin-top: .66em
  margin-bottom: .66em
  background-color: rgba(0, 0, 0, 0.6)
  color: whitesmoke
  font-size: 0.875em

.title
  order: 1;
  padding: 0;
  padding-left: 0.5em
  margin: 0;
  font-size: 2.5em
  color: whitesmoke

  @media screen and (max-width: 480px)
    display: none;

span
  order: 2;
  flex-grow: 1;

.list
  order: 3;
  list-style-type: none;
  padding: 0
  margin: 0

.item
  display: inline-flex;
  width: 6em;

.link
  display: block
  text-align: center
  padding: 0;
  width: 6em;
  height: 4.5em
  text-decoration: none;
  color: whitesmoke

  &:hover
    background-color: darken($primaryColor, 15)
